* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: lemonchiffon;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
}

nav a:hover {
    color: yellow;
    text-shadow: 3px -3px 2px black;
}

nav a:active {
    color: red;
    text-decoration: underline;
}

header {
    background-image: url(images/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#caja-centra{
    text-align: center;
       
}

header h1 {
    color: yellowgreen;
    text-shadow: 5px 4px 3px black;
    font-size: 45px;
    text-align: center;
    
}

header h2 {
    color: white;
    text-shadow: 5px 2px 3px black;
    text-align: center;
}

#section {
    display: flex;
}
#contenedor-quienes {
    display: flex;
}

#contenedor-quienes #izq{
    width: 50%;
    text-align: center;
}
#contenedor-quienes #der{
    width: 50%;
    text-align: center;
}
#contenedor-quienes #der img{
    width: 70%;
    text-align: center;
}

.titulo{
    color: brown;
    text-align: center;
}

section{
    padding: 20px;
}

#contenedor-obras{
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.obra{
    width: 33%;
}

.obra img{
    width: 90%;
}

footer{
    background-color: grey;
    color: whitesmoke;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

footer #caja-superior{
    width: 100%;
    text-align: center;
    padding: 15px;
}

footer .caja-inferior{
    width: 33%;
   text-align: center;
   padding: 15px;
}








