        #Ejemplo1 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            height: 150px;
            justify-content: flex-end;
        }

        #Ejemplo2 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            height: 150px;
            justify-content: center;
        }

         #Ejemplo3 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            height: 150px;
            justify-content: space-around;
        }

         #Ejemplo4 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            height: 150px;
            justify-content: space-between;
        }

         #Ejemplo5 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            height: 150px;
            justify-content: center;
            align-items: flex-start;
        }
        #Ejemplo6 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            height: 150px;
            justify-content: center;
            align-items: flex-end;
        }
        #Ejemplo7 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            height: 150px;
            justify-content: center;
            align-items: center;
        }
        #Ejemplo8 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            height: 150px;
            justify-content: center;
            align-items: stretch;
        }
        #Ejemplo9 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            height: 150px;
            justify-content: center;            
        }
        #art1{align-self: flex-end;}
        #art2{align-self: center;}
        #art3{align-self: flex-start;}

        #Ejemplo10 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            justify-content: center;
            align-items: baseline;
            height: 200px;
            flex-wrap:wrap;
            align-content: center;
        }
        #art10{
            padding: 20px;
            width: 40%;
        }
        
         #Ejemplo11 {display: flex;
            background-color: aqua;
            border: 1px solid red;
            justify-content: center;
            align-items: baseline;
            height: 200px;
            flex-wrap:wrap;
            align-content: space-around;
        }
        #art11{
            padding: 20px;
            width: 40%;
        }

        #Ejemplo12 {display: flex;
            background-color: aqua;
            border: 1px solid red; 
            justify-content: center;          
            align-items: baseline;
            height: 200px;
            flex-wrap:wrap;
            align-content: flex-start;
        }
        #art12{
            padding: 20px;
            width: 40%;
        }

         #Ejemplo13 {display: flex;
            background-color: aqua;
            border: 1px solid red; 
            justify-content: center;
            align-items: center;
            height: 200px;
            
        }
        article{
            background-color: bisque;
            border: 2px solid black;
            padding: 20px;
            
        }
